// @Author: sarahnouh
// @Date:   2019-06-10T18:32:07+02:00
// @Last modified by:   sarahnouh
// @Last modified time: 2019-06-12T02:55:40+02:00
@import "~bootstrap/scss/bootstrap.scss";
.darkblue-header {
  background-color: #152b39;
  height: 50px;
}

.orange-sidebar {
  background-color: #e2631c;
  @include media-breakpoint-down(md) {
    height: 100vh;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.video-content {
  margin-bottom: 50px;
}
.video-title {
  margin: 50px 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.video-image-container {
  width: 65%;
  margin: auto;
  position: relative;
}
.video-img {
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 8px;
}
.overlay {
  display: none;
}
.thumbnail:hover {
  .overlay {
    display: block;
    background-color: orange;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
    right: 15px;
    opacity: 0.5;
    border-radius: 8px;
  }
}
.thumbnail-img {
  width: 100%;
  margin-top: 40px;
}

.start-rec {
  position: absolute;
  left: 3%;
  bottom: 5%;
  width: 6%;
}

.focus {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  @include media-breakpoint-down(md) {
    width: 20%;
  }
}
.rec-items {
  position: absolute;
  top: 12%;
  left: 8%;
  width: 100%;
  .rec-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4%;
    transform: translateY(-50%);
  }
  .rec-text {
    position: absolute;
    top: 50%;
    left: 4%;
    color: white;
    transform: translateY(-50%);
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      font-size: 0.6em;
    }
    @media (min-width: 1900px) {
      font-size: 1.8em;
    }
  }
}

.frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 70%;
  width: 100%;
}
